body{
    background-color: rgb(122, 169, 223);
    font-family: fantasy;
}

#score{
    float:left;
    margin: 10px;
}

#timer{
    float:right;
    margin: 10px;
}

span{
font-size: 20px;
color:rgb(13, 53, 77);
}

#drawnSketch{
color: rgb(205, 4, 161);
font-size: large;
}

button{
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

h1{
    background-color: rgb(189, 187, 244);
}